.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a2a2a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  position: relative;
  width: 100%;
  background: #2a2a2a;
  z-index: 99;
}
/*---------header close----------*/
/*-----------header-top------------*/
.header-top {
  padding: 12px 0px 15px 0px;
  background: #0F0844;
}
.left_info ul li {
  display: inline-block;
  margin-right: 30px;
}

.left_info a {
  color: #fffefe;
  font-size: 14px;
  font-weight: 500;
}

.left_info i.fa {
  font-size: 19px;
  color: #fff;
  padding-right: 10px;
}

.right_info p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.left_info {
  text-align: right;
}

.right_info i.fa {
  font-size: 26px;
  margin-right: 10px;
  position: relative;
  bottom: -4px;
}

header i.fa.fa-mobile {
  bottom: -4px;
  font-size: 26px;
  position: relative;
  border: 40px;
  font-weight: 500;
}

.left_info ul li:last-child {
  margin: 0px !IMPORTANT;
}
.header-main {
  padding: 21px 0;
  border-top: 1px solid #424242;
}
/*-----------header-top Close------------*/
/*-----------header-menu------------*/
nav#cssmenu ul {
  float: right;
  margin-top: 13px;
}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;}
.logo img {
  max-width: 170px;
}
.logo a{color:#6DDB07;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a {
  padding: 9px 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #efefef;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
  color: #fff;
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
  background: #f82249!important;
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a{
  padding-right:30px
}
#cssmenu > ul > li.has-sub > a:after{
  position:absolute;
  top:17px;
  right:11px;
  width:8px;
  height:2px;
  display:block;
  background:#ddd;
  content:''
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  margin-top: 0;
}
#cssmenu ul ul li{
  height:0;
  -webkit-transition:all .25s ease;
  -ms-transition:all .25s ease;
  background:#333;
  transition:all .25s ease
}
#cssmenu li:hover > ul{
  left:auto
}
#cssmenu li:hover > ul > li{
  height:35px
}
#cssmenu ul ul ul{
  margin-left:100%;
  top:0
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150,150,150,0.15);
  padding: 11px 15px;
  width: 190px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}



footer{
  background: #2a2a2a;
  width: 100%;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}